# TransIP authentication
TRANSIP_USERNAME=
TRANSIP_PRIVATE_KEY_FILE=/usr/src/app/config/transip.key
TRANSIP_TOKEN_LABEL=transip-domain-catcher-docker

# Domain monitoring
DOMAINS=example.com, example.org
CHECK_INTERVAL_SECONDS=15
